[SddmGreeterTheme]
Name=AndromiX-SDDM-plasma-6
Description=AndromiX sddm theme for plasma 6
Author= Ziednaga (Original work by EliverLara)
Copyright= 2016 David Edmundson; (c) 2024, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/Ziednaga/AndromiX-SDDM-Theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=eliverlara@gmail.com
Theme-Id=andromix-sddm-plasma-6
Theme-API=2.0
QtVersion=6
